.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

nav {
  display: flex;
  margin: 1rem auto;
  align-items: center;
  justify-content: space-between;
}

.previous {
  background-color: #f1f1f1;
  color: black;
  padding: 1rem;
  list-style: none;
  font-size: 1.3rem;
  margin: 0.7rem;
  border-radius: 20%;
  cursor: pointer;
}

.next {
  background-color: #4a8fed;
  color: white;
  padding: 1rem;
  list-style: none;
  font-size: 1.3rem;
  margin: 0.7rem;
  border-radius: 20%;
  cursor: pointer;
}