.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.header {
  font-size: 5rem;
  line-height: 1;
  background-color: #5b001781;
  margin-bottom: 20px;
}

.element {
  position: relative;
  right: 20px;
  bottom: 25px;
}

.banner {
  padding-top: 150px;
  padding-bottom: 150px;
  position: relative;
  right: 7%;
  background-image: url('../src/assets/bgelement.png');
  background-size: 40rem;
  background-repeat: no-repeat;
  background-position: left;
}

.button {
  width: 160px;
  border-color: #CC9D2F;
  height: 64px;
  border-width: 2px;
  color: #CC9D2F;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-top: 20px;
}

.button2 {
  width: 160px;
  background-color: #CC9D2F;
  height: 64px;
  color: #5B0017;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-top: 80px;
  margin-bottom: 50px;
}

.button3 {
  width: 160px;
  background-color: #CC9D2F;
  height: 64px;
  color: #5B0017;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-top: 40px;
  margin-bottom: 50px;
}

.homebanner2 {
  padding-top: 230px;
  padding-bottom: 230px;
  column-gap: 50px;
  background-image: url('../src/assets/bgelement.png');
  background-size: 40rem;
  background-repeat: no-repeat;
  background-position: right;
}

.overlay {
  position: relative;
  left: 220px;
}

.xl {
  font-size: 3.5rem
    /* 48px */
  ;
  line-height: 1;
  margin-bottom: 30px;
}

.vanue-cont {
  width: 75%;
  border-bottom-width: 4px;
  border-color: #CC9D2F;
  padding-bottom: 50px;
  margin-top: 40px;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}

.change-my-color {
  filter: invert(50%) sepia(30%) saturate(1124%) hue-rotate(313deg) brightness(116%) contrast(10%);
  position: absolute;
  bottom: 0;
  right: 0;
}

.paragraph{
  text-align: start;
  width: 40%;
  padding: 20px;
  font-size: 1.5rem/* 30px */;
}

.aboutbanner{
 padding-top: 10rem;
 padding-left: 100px;
 margin-right: 100px;
 background-image: url('../src/assets/bgelement.png');
 background-size: 30rem;
 background-repeat: no-repeat;
 background-position: left;
}

.title {
  margin-bottom: 80px;
  text-align: left;
}

.title-box {
  width: 50%;
}

.about-images {
  margin-right: 100px;
}

.about-images1 {
  margin-top: 70px;
}

.about-images2 {
  margin-bottom: 70px;
}

.leaflet-container {
  height: 70vh;
  width: 100vh;
  margin-left: 0;
}

.mapbanner {
  background-image: url('../src/assets/bgelement.png');
  background-size: 40rem;
  background-repeat: no-repeat;
  background-position: right;
}